.input-field {
  height: 27px;
  border-bottom: solid 2px #23527c;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f2f2f2;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
}
.container-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.showWarning {
  text-align: center;
}
.btn-submit {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #337ab7;
  color: white;
}
.btn-submit:hover {
  background-color: #1867ad;
}
