body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;

  color: #337ab7;
  font-size: 45px;
}
h3 {
  text-align: center;
  font-size: 15px;
}
.main-container {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5px;
}

.container-book {
  background-color: #167acb;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.title {
  text-align: center;
  color: #f2f2f2;
  letter-spacing: 1.5px;
}
.main-title {
  font-size: 20px;
  margin-bottom: 25px;
}
.author {
  font-size: 10px;
  margin-bottom: 8px;
}
.publish {
  font-size: 8px;
  margin-bottom: 30px;
}
.describe {
  font-size: 14px;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}
.price {
  font-size: 10px;
  font-weight: bold;
}

.button {
  display: flex;
}

.container-form {
  width: 295px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.input-field {
  height: 27px;
  border: solid 1.5px #23527c;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
}
